/**
 * Minimal CSS Reset
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul {
  list-style: none;
}

/**
 * Page styling
 */
body {
  background: #f6f6f6;
}
header {
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  background: #999; 
}
header h1 {
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #1e1e1e;
}

/**
 * GitHub Corners by Tim Holman @ http://tholman.com/github-corners/
 */
.github-corner svg {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  fill: #151513;
  color: #fff;
}
.github-corner .octo-arm {
  fill: currentColor;
  transform-origin: 130px 106px;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
.github-corner .octo-body {
  fill: currentColor;
}
@keyframes octocat-wave {
  0%,100% { transform: rotate(0); }
  20%, 60% { transform: rotate(-25deg); }
  40%, 80% { transform: rotate(10deg); }
}
@media {max-width: 500px) {
  .github-corner:hover .octo-arm { animation: none; }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
  
.main__swatchers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main__swatch-wrap {
  width: 455px;
  height: 454px;
  max-width: calc(100% - 40px);
  padding: 20px;
}
@media screen and (max-width 640px) {
  .main__swatch-wrap {
    padding: 20px 0;
  }
}
